apturl==0.5.2
astroid==2.2.5
autopep8==1.4.4
beautifulsoup4==4.4.1
Brlapi==0.6.4
chardet==2.3.0
chrome-gnome-shell==0.0.0
command-not-found==0.3
cycler==0.9.0
defer==1.0.6
Django==2.2.2
django-filter==1.0.1
djangorestframework==3.9.4
html5lib==0.999
isort==4.3.20
language-selector==0.1
lazy-object-proxy==1.4.1
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
Markdown==3.1
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.6.1
numpy==1.11.0
pexpect==4.0.1
Pillow==3.1.2
ptyprocess==0.5
pycodestyle==2.5.0
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
pylint==2.3.1
pyparsing==2.0.3
python-apt===1.1.0.b1-ubuntu0.16.04.2-zorin1
python-dateutil==2.4.2
python-debian==0.1.27
python-systemd==231
pytz==2019.1
pyxdg==0.25
reportlab==3.3.0
requests==2.9.1
sessioninstaller==0.0.0
six==1.12.0
sqlparse==0.3.0
system-service==0.3
typed-ast==1.4.0
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
usb-creator==0.3.0
wrapt==1.11.2
xkit==0.0.0
